body{
    text-align:center;
    background:url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/15/30/4656e81f6dc57c5.jpg);
}
h1{
    font-family: 'Srisakdi', cursive;
    color:#e02f2f;
}
h2{
     font-family: 'Srisakdi', cursive;
     font-size:30px;
}
.ab{
    font-family: 'Moul', cursive;
    color:#ad0c0c;
    font-size:20px;
}
.a{
    font-family: 'Moul', cursive;
    font-size:20px;
}
.b{
    width:350px;
}
.c{
    width:190px;
}
.e{
    width:300px;
}
.d{
    font-family: 'Moul', cursive;
    font-size:20px;
    color:#157c13;
}
.f{
       font-family: 'Srisakdi', cursive;
       font-size:30px;
       color:#0ead0b;
       
}
.i{
    width:200px;
}
.h{
    font-family: 'Moul', cursive;
    font-size:20px;
}
.g{
    font-size:30px;
}
    
  






